<!DOCTYPE html>
<!--[if IE 6]><html class="no-js old ie6"><![endif]-->
<!--[if IE 7]><html class="no-js old ie7"><![endif]-->
<!--[if IE 8]><html class="no-js old ie8"><![endif]-->
<!--[if IE 9]><html class="no-js modern ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js modern" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->
<head>
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" /><![endif]-->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<title>성지 순례 위치 탐색</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
	@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Gugi&family=Nova+Square&display=swap');
</style>
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/interactive.js"></script>

</head>

<body>
	<div id="page-wrapper">
		<div id="banner">
			<div id="search-area" >
			<form action="/" method="get">
				<div class="form-group">
					<label for="genre">장르 선택</label>
					<select name="genreStatus" id="genre" class="form-control" style="font-family: 'Gugi';" onchange="handleOnChange(this)">
						<option value="" style="font-family: 'Gugi';">모든 장르</option>
						<option value="MOVIE" style="font-family: 'Gugi';">영화</option>
						<option value="DRAMA" style="font-family: 'Gugi';">드라마</option>
						<option value="BOOK" style="font-family: 'Gugi';">책</option>
						<option value="ANIMA" style="font-family: 'Gugi';">애니메이션</option>
						<option value="MUSIC" style="font-family: 'Gugi';">뮤직비디오</option>
					</select>
					<button type="submit" class="btn btn-primary" style="font-family: 'Gugi';" onClick="toggleMenu()">검색</button>
				</div>
				<div class="form-group">
					<label for="artName">작품명</label>
					<input type="text" id="artName" name="artName" class="form-control" placeholder="작품명을 입력하세요" th:value="${artSearch.artName}" style="font-family: 'Gugi';">
				</div>
			</form>
			</div>
			<p>여기 가봤어?</p>
		</div>
		<div id="inner-wrapper">
			<div id="left-panel">
				<div id="navigation">
					<div id="nav-box1"><div id='result' style="font-family: 'Gugi';">홈</div></div>
					<br/>
					<div id="nav-box2" style="font-family: 'Gugi'; background: #3498db; width: 70%;">Art Name</div>
				</div>
				<button id="slideButton" onClick="toggleMenu()">test</button>
				<div id="select-content">
					<div id="content-box-1" style="font-family: 'Nova Square';">
					<table class="table">
						<tbody>
						<tr th:each="art : ${arts}">
							<td th:text="${art.genreStatus}"></td>
							<td th:text="${art.name}"></td>
						</tr>
						</tbody>
					</table>
					</div>
					<div id="content-box-2" style="font-family: 'Nova Square';">
						<tbody>
						<tr th:each="art : ${arts}">
							<td th:text="${art.genreStatus}"></td>
							<td th:text="${art.name}"></td>
						</tr>
						</tbody>
					</table>
					</div>
					<div id="content-box-3" style="font-family: 'Nova Square';">
						<tbody>
						<tr th:each="art : ${arts}">
							<td th:text="${art.genreStatus}"></td>
							<td th:text="${art.name}"></td>
						</tr>
						</tbody>
					</table>
					</div>
					<div id="content-box-4" style="font-family: 'Nova Square';">
						<tbody>
						<tr th:each="art : ${arts}">
							<td th:text="${art.genreStatus}"></td>
							<td th:text="${art.name}"></td>
						</tr>
						</tbody>
					</table>
					</div>
					
				</div>
				<div id="page-control">
				<div class="pagination">
					<a href="#">&laquo;</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#" class="active">3</a>
					<a href="#">&raquo;</a>
				</div>
				</div>
			</div>
			<div id="map" style="width:80%; height:97%;"></div>

			<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bfb844e4012fd7dbcdd58e92d352d224&libraries=services"></script>
			<script th:inline="javascript">
			  /*<![CDATA[*/
			  var mapContainer = document.getElementById('map'),
				  mapOption = {
					  center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
					  level: 9 // 지도의 확대 레벨
				  };
			  var map = new kakao.maps.Map(mapContainer, mapOption);
			  var geocoder = new kakao.maps.services.Geocoder();
			  var bounds = new kakao.maps.LatLngBounds();

			  var positions = [];

			  /*[# th:each="art : ${arts}"]*/
				/*[# th:each="filmed : ${art.filmedList}"]*/
				  positions.push({
					title: [[${art.name}]],
					address: [[${filmed.location.CTPRVN_NM}]] + " " +
							 [[${filmed.location.SIGNGU_NM}]] + " " +
							 [[${filmed.location.Specific_Addr_NM}]]
				  });
				/*[/]*/
			  /*[/]*/

			  positions.forEach(function(position) {
				geocoder.addressSearch(position.address, function(result, status) {
				  if (status === kakao.maps.services.Status.OK) {
					var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
					var marker = new kakao.maps.Marker({
					  map: map,
					  position: coords
					});

					var infowindow = new kakao.maps.InfoWindow({
					  content: '<div style="width:100px;text-align:center;padding:6px 0;">' + position.title + '</div>'
					});
					infowindow.open(map, marker);
				  }
				});
			  });
			  /*]]>*/
			</script>
			<div id="footer">Ajou University 2023-1 Database Final project&nbsp;&nbsp;&nbsp;</div>
		</div>
	</div>
</body>
</html>
