@charset "utf-8";

#page-wrapper {
	display: flex;
	flex-flow: column wrap;
	height: 100vh;
}
#inner-wrapper {
	display: flex;
	flex-flow: column wrap;
	height: 93%;
}
#left-panel {
	background: #67bef8;
	min-height: 100%;
	order: -1;
	width: 20%;
	flex: 0 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
#footer, #content {
	width: 80%;
}
#banner {
	width: 100%;
	background: #2980B9;
	height: 7%;
	display: flex;
	flex-flow: row wrap;
}
#banner p {
	flex: 1 1 auto;
	margin-top: 0px;
	margin-right: 20px;
	font-family: 'Bagel Fat One';
	font-size: 30px;
	color: #fff;
	display: flex;
	justify-content: right;
	align-items: center;
	text-align: right;
}
#footer {
	font-family: 'Nova Square';
	margin-top: 0px;
	background: #2980B9;
	height: 25px;
	text-align: right;
}
#content {
	background: #fff;
	flex: 1 1 auto;
}
#navigation, #select-content, #page-control {
	width: 93%;
}
#page-control {
	height: 25px;
	text-align: center;
}
#navigation{
	margin-top: 10px;
	display: flex;
	flex-flow: column wrap;
	height: 35px;
	background: #3498db;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#select-content {
	height: 87%;
	width: calc(100%-4px);
	background: #DDD;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#nav-box-1 {
	width: 30%;
	height: 100%;
	background: #2980B9;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}
#nav-box-2 {
	width: 30%;
	height: 100%;
	background: #2980B9;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	font-family: 'Gugi';
	background: #3498db;
	width: 70%;
}
#search-area {
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Gugi';
	font-size: 1vw;
	flex-flow: row wrap;
}
#search-box {
	width: 37%;
	height: 100%;
	background: #67bef8;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}
#content-box-1 {
	height: 22%;
	width: calc(100%-4px);
	background: #DDD;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: flex;
	flex-flow: row wrap;
	word-break: break-all;
	transition: left .5s;
}
#cb1-info {
	height: 100%;
	width: 30%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-flow: column wrap;
	word-break: break-all;
	transition: left .5s;
}
#cb1-info td,th {
	height: 30%;
	width: 100%;
	font-family: 'Gugi';
	word-break: break-all;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
}
#cb1-loc {
	height: 100%;
	flex: 1 1 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	word-break: break-all;
	flex-wrap: wrap;
	transition: left .5s;
}
#content-box-2 {
	height: 22%;
	width: calc(100%-4px);
	background: #DDD;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-flow: row wrap;
	word-break: break-all;
	transition: left .5s;
}
#content-box-3 {
	height: 22%;
	width: calc(100%-4px);
	background: #DDD;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-flow: row wrap;
	word-break: break-all;
	transition: left .5s;
}
#content-box-4 {
	height: 22%;
	width: calc(100%-4px);
	background: #DDD;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-flow: row wrap;
	word-break: break-all;
	transition: left .5s;
}

.slider {
   border: none;
   background-color: white;
   height: 3px;
   width: 45px;
   margin-top: 10px;
   border-radius:15px;
}

#slideButton {
  border: 0;
  margin-top: 12px;
  margin-left: 15px;
  padding-right: 7px;
  padding-top: 7px;
  position: fixed;
  border-radius: 5px;
  padding-left: 18px;
}

#slideButton:focus {
   outline: none;
}

#slideButton:hover {
   background-color: rgba(100,100,100,0.1);
   transition: ease 0.6s;
}

.pagination {
	display: inline-block;
}
.pagination li {
	color: black;
	float: left;
	padding: 4px 8px;
	text-decoration: none;
}
.pagination li.active {
	background-color: #2980B9;
	color: white;
	border-radius: 5px;
}
.pagination li:hover:not(.active) {
	background-color: #3498db;
	border-radius: 5px;
}

body { margin: 0; }

.customoverlay {
    position: relative;
    bottom:50px;
    border-radius:6px;
	font-family: 'Gugi';
    border: 1px
    solid #ccc;
    border-bottom:2px
    solid #ddd;
    float:left;
    background:#fff;
}

<!-- 그림자 -->
.customoverlay:nth-of-type(n) {
    border:0;
    box-shadow:0px 1px 2px #888;
}



.customoverlay:after {
    content:'';
    position:absolute;
    margin-left:-12px;
    left:50%;
    bottom:-12px;width:22px;
    height:12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}
